<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<style>

		body {
			padding-top: 10px;
			font-family: 'Montserrat', sans-serif;
		}

		h1 {
			color: black;
    		text-align: center;
    		clear: both;
		} 

	   .nopic {
	        color: black;
	        text-decoration: bold;
	        text-align: justify;
	    }

	    .pic {
	        float:left; 
	        text-align: center;
	        width:200px;
	        height:300px;
	        overflow: hidden;
	        padding:20px;
	    }

	    .caption {
	        text-align: justify;
	        font-size: 10px;
	        width:190px;
	        height:200;
	        overflow: hidden;
	    }


		</style>

		<script language="javascript" type="text/javascript">
			setTimeout("location.reload();",30000);

			function print_pic(pid){
				alert("Reprinting Pic!");
				var xhr = new XMLHttpRequest();
				xhr.open('GET', 'http://localhost:3000/home/print_pic/'+pid);
				xhr.send(null);
			}
		</script>
	</head>


	<body>

		<div><h1>New Pictures</h1></div>

		<% if @new_pics.empty? %>
			<div class="nopic">No New Pictures</div>
		<% else %>
			<% for pic in @new_pics do %>
				<div class="pic">
				  <div><img height="200" src='https://s3-us-west-1.amazonaws.com/tagprintshare/tagprintshare/<%= pic['pid']%>.png' ></img></div>
				  <div class="caption"><%= pic['caption'] %></div>
				</div>
			<% end %>
		<% end %>

		<div><h1>Old Pictures</h1></div>
		<% if @old_pics.empty? %>
			<div class="nopic">No Old Pictures</div>
		<% else %>
			<% for pic in @old_pics do %>
				<div class="pic">
				  <div ><img height="200" src='<%= "https://s3-us-west-1.amazonaws.com/tagprintshare/" + pic['pid'] + ".png" %>' onclick="print_pic('<%=pic['pid']%>')" onMouseOver="this.style.cursor='pointer'"></img></div>
				  <div class="caption"><%= pic['caption'] %></div>
				</div>
			<% end %>
		<% end %>




	</body>
</html>